/* main landing screen */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000; /* change this and the other one too*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
    font-family: "PT Sans", sans-serif;
}

.logo{
    font-family: 30px;
    font-weight: 700;
    color: white;
}

.nvs{
    display: flex;   
    list-style-type: none;
}

.nvs a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.nvs a:hover{
    border-bottom: 2px solid white;
}

#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.startingMain{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: rgb(0, 17, 111);
    background: linear-gradient(32deg, rgba(0, 17, 111, 1) 0%, rgba(0, 212, 255, 1) 100%);
    position:relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section{
    padding: 0 19%;
}

.main-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

.main-text h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}

.main-text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;

}

.main-text p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}

.startingImg img{
    width: 700px;
    height: auto;
}

.main-text a{
    display: inline-block;
    color: white;
    background: #4d9559;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.main-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.main-text a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.main-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}

.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%)
}

.icons i{
    display: block;
    margin: 26px 0;
    font-size: 34px;
    color: white;
    transition: all .50s ease;
}

.icons i:hover{
    color: #4d9559;
    transform: translateY(-5px);
}

.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%
}

.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #4d9559;
    border-radius: 30px;
    transition: all .50s ease;
}

.scroll-down i:hover{
    transform: translateY(-5px)
}

@media (max-width: 1535px){
    header{
        padding: 15px;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
}

@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 1340px){
    .startingImg img{
        width: 100%;
        height: auto;
    }
    .main-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .main-text h5{
        margin-bottom: 25px;
    }
}

@media (max-width: 1195px){
    section{
        padding: 0 30%;
        transition: .2s;
    }
    .main-text{
        padding-top: 115px;
    }
    .startingImg{
        text-align: center;
    }
    .startingImg img{
        width: 560px;
        height: auto;
    }
    .startingMain{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .icons{
        display:none;
    }
    .scorll-down{
        display: none;
    }
}

@media (max-width: 990px){
    #menu-icon{
        display: block;
    }
    .nvs{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #4d9559;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .nvs a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }
    .nvs.open{
        right:0;
    }
}

@media (max-width: 680px){
    .startingImg img{
        width: 100%;
        height: auto;
    }
}

/* Next section */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700;900&display=swap');

/* glowText */

.glowText{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    align-items: center;
    min-height: 100vh;
    background: #262626;
    background-image: linear-gradient(to right, #333 1px, transparent 1px), linear-gradient(to bottom, #333 1px, transparent 1px);
    background-size: 4vh 4vh;
    vertical-align: middle;
    padding-top: 10vh;
}

.textglow{
    position: relative;
    transform: translateY(-50%);
    padding-left: 33%;
    padding-top: 20vh;
}

.numBg{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    overflow: hidden;
    width: 100%;
    background: #0e0e0e;
}

.numbers{
    position: relative;
    cursor: default;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.numbers span{
    position: relative;
    font-size: 3em;
    font-weight: 900;
    color: rgba(255,255,255, 0.05);
    line-height: 0.9em;
    transition: 1s;
    user-select: none;
}

.numbers span:hover{
    transition: 0s;
    color: #fff;
    text-shadow: 0 0 10px #0f0,
    0 0 20px #0f0,
    0 0 40px #0f0,
    0 0 80px #0f0,
    0 0 160px #0f0;
    z-index: 1000000000;
}

.glowText h2{
    color: #fff;
    font-size: 5em;
    font-weight: 600;
    padding: 0 100px;
}

.glowText h2 span{
    position: relative;
    color: rgba(255,255,255, 0.1);
    animation: displayText 9s infinite;
    animation-delay: calc(-3s * var(--i));
}

@keyframes displayText{
    0%{
        display: inline-block;
    }
    33.33%, 100%{
        display: none;
    }
}

.glowText h2 span::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #01fe87;
    overflow: hidden;
    border-right: 4px solid #01fe87;
    filter: drop-shadow(0 0 5px #01fe87) drop-shadow(0 0 25px #01fe87);
    animation: animate 3s linear infinite;
}

@keyframes animate{
    0%, 10%, 100%{
        width: 0;
    }
    70%, 90%{
        width: 100%;
    }
}

/* explore  more button */

.button{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:85vh;
    background: #000;
    flex-wrap: wrap;
}

.button a{
    position: relative;
    padding: 15px 30px;
    border: 2px solid #0f0;
    margin: 40px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    transition: 0.5s;
    transition-delay: 0s;
}

.button a:hover{
    transition-delay: 0.375s;
    color: #000;
    box-shadow: 0 0 10px #0f0,
                0 0 20px #0f0,
                0 0 40px #0f0,
                0 0 80px #0f0,
                0 0 160px #0f0;
}

.button span{
    position: relative;
    z-index: 100;
}

.button a:nth-child(2){
    filter: hue-rotate(80deg);
}

.button a::before{
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #0f0;
    box-shadow: 5px -8px 0 #0f0,
                5px 8px 0 #0f0;
    transition: width 0.25s, left 0.25s, height 0.25s, box-shadow 0.25s;
    transition-delay: 0.5s, 0.25s, 0s, 0s;
}

.button a:hover::before{
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 #0f0, 5px 0 0 #0f0;
    transition-delay: 0s, 0.125s, 0.25s, 0.25s;
}

.button a::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #0f0;
    box-shadow: -5px -8px 0 #0f0,
        -5px 8px 0 #0f0;
    transition: width 0.25s, left 0.25s, height 0.25s, box-shadow 0.25s;
    transition-delay: 0.5s, 0.25s, 0s, 0s;
}

.button a:hover::after {
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 #0f0, -5px 0 0 #0f0;
    transition-delay: 0s, 0.125s, 0.25s, 0.25s;
}

/* footer */

footer{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background: #333;
    position:relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
}

footer .socials, 
footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

footer .socials li,
footer .menu li{
    list-style: none;
}

footer .socials li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .socials li a:hover{
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover{
    opacity: 1;
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('images/wave.png');
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave2 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave2 3s linear infinite;
}

@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes animateWave2{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}

.meCard{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    /* min-height: 100vh; */
}

.container{
    position: relative;
    z-index: 1;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
    margin: 40px 0;
}

.container .card{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255,255,255,0.05);
    margin:20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.container .card .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.container .card:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}

.container .card .content .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0,0,0,0.25);
}

.container .card .content .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content .contentBx h3{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.container .card .content .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;

}

.container .card .sci{
    position: absolute;
    bottom: 50px;
    display: flex;
}

.container .card .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0.05;
    transition-delay: calc(0.1s * var(--i));
}
.container .card:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .sci li a{
    color: #fff;
    font-size: 24px;
}